





/* Color Theme Swatches in Hex */
.Futuristic-Lab-in-Synthwave-Style-1-hex { color: #F263E9; }
.Futuristic-Lab-in-Synthwave-Style-2-hex { color: #B21BF2; }
.Futuristic-Lab-in-Synthwave-Style-3-hex { color: #010326; }
.Futuristic-Lab-in-Synthwave-Style-4-hex { color: #07288C; }
.Futuristic-Lab-in-Synthwave-Style-5-hex { color: #3B7FD9; }

/* Color Theme Swatches in RGBA */
.Futuristic-Lab-in-Synthwave-Style-1-rgba { color: rgba(242, 99, 232, 1); }
.Futuristic-Lab-in-Synthwave-Style-2-rgba { color: rgba(177, 26, 242, 1); }
.Futuristic-Lab-in-Synthwave-Style-3-rgba { color: rgba(0, 2, 38, 1); }
.Futuristic-Lab-in-Synthwave-Style-4-rgba { color: rgba(7, 40, 140, 1); }
.Futuristic-Lab-in-Synthwave-Style-5-rgba { color: rgba(58, 127, 216, 1); }

/* Color Theme Swatches in HSLA */
.Futuristic-Lab-in-Synthwave-Style-1-hsla { color: hsla(303, 84, 66, 1); }
.Futuristic-Lab-in-Synthwave-Style-2-hsla { color: hsla(281, 89, 52, 1); }
.Futuristic-Lab-in-Synthwave-Style-3-hsla { color: hsla(236, 96, 7, 1); }
.Futuristic-Lab-in-Synthwave-Style-4-hsla { color: hsla(225, 90, 28, 1); }
.Futuristic-Lab-in-Synthwave-Style-5-hsla { color: hsla(213, 67, 53, 1); }



/* Color Theme Swatches in Hex */
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave,-retro-futurism,-webpunk-1-hex { color: #BD21BF; }
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave,-retro-futurism,-webpunk-2-hex { color: #B527F2; }
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave,-retro-futurism,-webpunk-3-hex { color: #B080F2; }
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave,-retro-futurism,-webpunk-4-hex { color: #80C7F2; }
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave,-retro-futurism,-webpunk-5-hex { color: #005200; }

/* Color Theme Swatches in RGBA */
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave,-retro-futurism,-webpunk-1-rgba { color: rgba(189, 33, 191, 1); }
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave,-retro-futurism,-webpunk-2-rgba { color: rgba(181, 39, 242, 1); }
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave,-retro-futurism,-webpunk-3-rgba { color: rgba(176, 128, 242, 1); }
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave,-retro-futurism,-webpunk-4-rgba { color: rgba(128, 199, 242, 1); }
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave,-retro-futurism,-webpunk-5-rgba { color: rgba(0, 82, 0, 1); }

/* Color Theme Swatches in HSLA */
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave,-retro-futurism,-webpunk-1-hsla { color: hsla(299, 70, 43, 1); }
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave,-retro-futurism,-webpunk-2-hsla { color: hsla(281, 88, 55, 1); }
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave,-retro-futurism,-webpunk-3-hsla { color: hsla(265, 81, 72, 1); }
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave,-retro-futurism,-webpunk-4-hsla { color: hsla(202, 81, 72, 1); }
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave,-retro-futurism,-webpunk-5-hsla { color: hsla(120, 100, 16, 1); }

