/* Color Theme Swatches in Hex */
.Futuristic-Lab-in-Synthwave-Style-1-hex {
  color: #F263E9; }

.Futuristic-Lab-in-Synthwave-Style-2-hex {
  color: #B21BF2; }

.Futuristic-Lab-in-Synthwave-Style-3-hex {
  color: #010326; }

.Futuristic-Lab-in-Synthwave-Style-4-hex {
  color: #07288C; }

.Futuristic-Lab-in-Synthwave-Style-5-hex {
  color: #3B7FD9; }

/* Color Theme Swatches in RGBA */
.Futuristic-Lab-in-Synthwave-Style-1-rgba {
  color: #f263e8; }

.Futuristic-Lab-in-Synthwave-Style-2-rgba {
  color: #b11af2; }

.Futuristic-Lab-in-Synthwave-Style-3-rgba {
  color: #000226; }

.Futuristic-Lab-in-Synthwave-Style-4-rgba {
  color: #07288c; }

.Futuristic-Lab-in-Synthwave-Style-5-rgba {
  color: #3a7fd8; }

/* Color Theme Swatches in HSLA */
.Futuristic-Lab-in-Synthwave-Style-1-hsla {
  color: #f15fea; }

.Futuristic-Lab-in-Synthwave-Style-2-hsla {
  color: #ad18f2; }

.Futuristic-Lab-in-Synthwave-Style-3-hsla {
  color: #010323; }

.Futuristic-Lab-in-Synthwave-Style-4-hsla {
  color: #072788; }

.Futuristic-Lab-in-Synthwave-Style-5-hsla {
  color: #377fd7; }

/* Color Theme Swatches in Hex */
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave, -retro-futurism, -webpunk-1-hex {
  color: #BD21BF; }

.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave, -retro-futurism, -webpunk-2-hex {
  color: #B527F2; }

.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave, -retro-futurism, -webpunk-3-hex {
  color: #B080F2; }

.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave, -retro-futurism, -webpunk-4-hex {
  color: #80C7F2; }

.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave, -retro-futurism, -webpunk-5-hex {
  color: #005200; }

/* Color Theme Swatches in RGBA */
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave, -retro-futurism, -webpunk-1-rgba {
  color: #bd21bf; }

.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave, -retro-futurism, -webpunk-2-rgba {
  color: #b527f2; }

.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave, -retro-futurism, -webpunk-3-rgba {
  color: #b080f2; }

.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave, -retro-futurism, -webpunk-4-rgba {
  color: #80c7f2; }

.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave, -retro-futurism, -webpunk-5-rgba {
  color: #005200; }

/* Color Theme Swatches in HSLA */
.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave, -retro-futurism, -webpunk-1-hsla {
  color: #b821ba; }

.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave, -retro-futurism, -webpunk-2-hsla {
  color: #b127f1; }

.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave, -retro-futurism, -webpunk-3-hsla {
  color: #ae7ef1; }

.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave, -retro-futurism, -webpunk-4-hsla {
  color: #7ec7f1; }

.Abstract-Modern-bright-colored-holographic-background-in-80s-style.-Synthwave.-Vaporwave-style.-Retrowave, -retro-futurism, -webpunk-5-hsla {
  color: #005200; }
